global
    maxconn 200

defaults
    mode tcp
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend pg_write
    bind *:5432
    default_backend pg_primary

backend pg_primary
    server node1 node1:5432 check

frontend pg_read
    bind *:5433
    default_backend pg_replicas

backend pg_replicas
    balance roundrobin
    server node2 node2:5432 check
    server node3 node3:5432 check
    server node1 node1:5432 check backup
